html, body, div, p, li, ul {
    padding: 0;
    margin: 0
}

html, body {
    width: 100%;
    color: #8492A4;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
}

body.language_zh {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif
}

a {
    color: #01bcd7;
    text-decoration: none;
    line-height: 20px
}

h2 {
    line-height: 42px;
    margin: 18px 0;
    font-size: 30px;
    display: block;
    color: #2A394D;
}


.clear {
    height: 1px;
    clear: both
}

.clear40 {
    height: 40px;
    clear: both
}

.clear80 {
    height: 80px;
    clear: both
}

.clear50 {
    height: 50px;
    clear: both
}

.clear20 {
    height: 20px;
    clear: both
}

.clear10 {
    height: 10px;
    clear: both
}




.ic_advantage{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.title1{
    color: #707C7C;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.title2{
    font-size: 12px;
    color: #ACBDBD;
    text-align: center;
    margin-top: 20px;
}

.title4{
    font-size: 12px;
    color: #ACBDBD;
    text-align: center;
    margin-top: 5px;
}


.section{
    margin: 0 20px;
}
.section_title{
    color: #2A394D;
    font-size: 24px;
    margin: 70px 0 14px 0;
}

.section_p{
    color: #8492A4;
    line-height: 25px;
    font-size: 14px;

    font-family: HelveticaNeue;

}


.guide_ios_install{
    display: block;
    text-align: center;
    color: red;
}

.guide_ios_install_flag_cn{

}

.ic_she{
    width: 90%;
    display: block;
    margin: 10px auto;
}

.advantage_content{
    display: none;
}


.advantage_content.current{
    display: block;
}

.advantage_content_img{
    width: 90%;
    display: block;
    margin: 10px auto;
}
.advantage_content_t{
    margin-top: 20px;
}
.advantage_content_t p {
    margin-bottom: 20px;
}


.advantage_btn button{
    width: 260px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.15);
    border-radius: 100px;
    font-size: 18px;
    color: #CCCCCC;
    letter-spacing: -0.44px;
    display: block;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-bottom: 15px;
}

.advantage_btn button.current{
    color: #2A394D;
}

.advantage_content_img img{
    width: 90%;
    margin: 0 auto;
    display: block;
}

.advantage_content_t{
    font-size: 16px;
    line-height: 28px;
}


.ic_screenshot1{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.page_title{
    margin-top: 28px;
    margin-bottom: 22px;
    margin-left: 50px;
    color: #333333;
    font-size: 14px;
    position: relative;
}





.language_select{
    float: right;
    position: relative;
    top: -12px;;
    right: 10px;
}


.language_drop {
    background: #FFFFFF;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 10px 0px;
    position: absolute;
    left: 0px;
    top: 37px;
    display: none;
}

.language_item{
    position: relative;
    margin: 0px 0px;
    display: block;
    font-size: 16px;
    color: #828282;
    padding: 0 10px;
    width: 109px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.language_item:hover{
    background: #EEE;
}

.language_item img{
    width: 22px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.language_current .language_item img.lang_arrow{
    position: absolute;
    top: 11px;
    right: 17px;
}


.language_current .language_item{
    margin: 0;
}

.language_current .language_item:hover{
    background: none;
}


.footer{
    font-size: 16px;
    text-align: center;
    margin: 30px 0;
}

.download a,.download span{
    width: 190px;
    height: 52px;
    display: block;
    /*float: left;*/
    line-height: 52px;
    margin: 10px auto;
}

.download a img{
    width: 100%;
}

.download2,.download2 span{
    margin-top: 26px;
}

.download2 a,.download2 span{
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
    font-family: Avenir-Heavy;
    color: #00BCD7;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 0.8px;
    text-align: center;
}


.pressList{
    padding-left: 20px;
}
.pressList li{
    margin-top: 5px;
}









.weixin_content{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    bottom: 0;
}


.wx_text{
    font-size: 14px;
    line-height: 30px;
}

.wx_open{
    position: absolute;
    right: 10px;
    top: 15px;
    background: #00BCD7;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}

.wx_open_arrow{
    position: absolute;
    border: solid transparent;
    border-bottom-color: #01bcd7;
    border-width: 12px;
    top: -21px;
    right: 8px;
    position: absolute;
    width: 0;
    height: 0;
}

